/*
 COLOR PALETTE
https://coolors.co
 #C19AB7 Lilac
 #9C95DC Tropical Indigo ( light purple)
 #228CDB Tufts Blue
 #0B7189 Cerulean
 #170A1C Dark purple
 #606F91 Glaucus
 #ADD9F4 Uranian Blue
 #A9FFF7 Ice blue
 #7C90DB Vista Blue
 */


/*Global styles
 ----------------------------------------------*/
 body {
  color: #170A1C;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
 }
 
img {
width: 300px;
}

a {
  color: #A9FFF7;
}
a:hover {
   text-decoration: none;
}
h1 {
	margin: 0;
	font-family: 'Poiret One', sans-serif;
	font-size: 40px;
}

h2 {
	margin: 0;
	font-family: 'Poiret One', sans-serif;
}

.content-wrap {
	width: 800px;
	margin: 0 auto;
	padding: 60px 0;
}


/*Profile 
 ----------------------------------------------*/

header {
background: #228CDB;
color: #F7FFF7;
}


/*Work experience
 ----------------------------------------------*/
.work-experience {
 background: #ADD9F4;
}

.work-experience a {
	color: #7C90DB;
}

.work-experience:hover {
   text-decoration: none;
}



/*Education
 ----------------------------------------------*/



/*Projects
 ----------------------------------------------*/
.projects {
 background: #9C95DC;
}






/*Contact
 ----------------------------------------------*/
footer {
background: #606F91;
color: #F7FFF7;

}
